<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 相册权限 -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Video calls require photo library permission.</string>

        <!-- 相机权限 -->
    <key>NSCameraUsageDescription</key>
    <string>Video calls require camera permission.</string>


    <!-- 麦克风权限 -->
    <key>NSMicrophoneUsageDescription</key>
    <string>Voice calls require microphone permission.</string>


    <!-- 网络配置 -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>


    <!-- 后台模式 -->
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
    </array>


    <!-- 屏幕录制扩展 -->
    <key>com.apple.security.application-groups</key>
    <array>
        <string>group.com.tencent.comm.tcic.sharescreen</string>
    </array>

</dict>
</plist>